<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @show.title %>
</p>

<p>
  <strong>Episodes:</strong>
  <%= @show.episodes %>
</p>

<p>
  <strong>G:</strong>
  <%= @show.g %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @show.scaffold %>
</p>

<p>
  <strong>Show:</strong>
  <%= @show.Show %>
</p>

<p>
  <strong>Title:</strong>
  <%= @show.title %>
</p>

<p>
  <strong>Episodes:</strong>
  <%= @show.episodes %>
</p>

<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
